@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background: #000 url("bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    /* background-blend-mode: hard-light; */
}
.container{
    position: absolute;
    top: 80px;
    left: 100px;
    right: 100px;
    bottom: 80px;
    /* background: url("pic.jpg"); */
    height: 525px;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5),
                0 0 0 100px rgba(0,0,0,.1);
}
.container h2{
    text-align: center;
    font-size: 10em;
    line-height: -80px;
    color: #333;
    margin-top: -80px;
}
.container h2 span{
    display: block;
    font-weight: 300;
    letter-spacing: 6px;
    font-size: 0.2em;
}
.countdown{
    display: flex;
    margin-top: 50px;
}
.countdown div{
    position: relative;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background: #333;
    color: #fff;
    margin: 0 15px;
    font-size: 3em;
    font-weight: 500;
}
.countdown div::before{
    content: '';
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 100%;
    height: 35px;
    background: #ff0;
    color: #333;
    font-size: 0.35em;
    line-height: 35px;
    font-weight: 300;
}
.countdown div#day::before{
    content: 'Days';
}
.countdown div#hour::before{
    content: 'Hours';
}
.countdown div#minute::before{
    content: 'Minutes';
}
.countdown div#second::before{
    content: 'Seconds';
}